/**

	Genericon'd Example CSS

    Credit: Genericons.com
*/

h2::before {
content: '\f205';
font-family: Genericons;
font-size: 32px;
vertical-align: bottom;
}

/* Iconlist */
#iconlist .new, #iconlist .update {
position: relative;
}
#iconlist .new:after, #iconlist .update:after {
color: #EA834D;
display: block;
content: "NEW";
font: bold 8px/1 sans-serif;
position: absolute;
top: 0;
z-index: 10;
text-align: center;
width: 100%;
}
#iconlist .update:after {
content: "UPDATED";
left: -1px;
}

#icons {
padding: 50px 0;
}

#icons #iconlist {
margin: 0 auto;
}

#iconlist div {
position: relative;
}

#icons .genericon {
font-size: 32px;
width: 32px;
height: 32px;
padding: 10px;
}


#iconlist div.genericon:hover {
cursor: pointer;
color: #F1C945;
}


/* Glyph */
#glyph {
width: 50%;
min-width: 455px;
min-height: 256px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
float: left;
margin: 30px 0 0 0;
}

#glyph .genericon {
float: left;
color: #F1C945;
}

#glyph .genericon {
font-size: 256px;
width: 256px;
height: 256px;
overflow: visible;
}

#glyph .info {
float: right;
width: 180px;
padding: 48px 0 0 0;
}
#glyph .info strong {
font-weight: normal;
display: block;
padding: 8px 0;
}
#glyph .info a {
color: #db4a37;
display: block;
padding: 8px 0;
}
#glyph .info a:hover {
color: #ff6a57;
}

/* Description */
.description {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin-top: 35px;
float: right;
border-left: 2px dotted black;
padding: 0 0 0 30px;
max-width: 50%;
}

#content, #icons {
margin: 0 auto;
}

#primary {
padding-bottom: 20px;
overflow: hidden;
}