/**

	Genericon'd Helper CSS
	
	This is added TO genericon.css and will do nothing if you don't call the other one.

*/

/* Changes I only want to make to Genericon'd genericons, and not anything in a theme... */
.genericond {display: inline-block;vertical-align: middle;}

/* Alternative sizes */
.genericon::before { font: inherit; } /* We have to do this because Twenty Thirteen doesn't share well */
.genericon-1x { font: normal 100%/1 Genericons;}
.genericon-2x { font: normal 200%/1 Genericons;}
.genericon-3x { font: normal 300%/1 Genericons;}
.genericon-4x { font: normal 400%/1 Genericons;}
.genericon-5x { font: normal 500%/1 Genericons;}
.genericon-6x { font: normal 600%/1 Genericons;}